In [1]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import tqdm
import sys
import sqlite3
from sqlite3 import Error
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

In [ ]:
df = pd.read_csv('player_info.csv')

In [ ]:
df['name'] = df['firstName'] + " " + df['lastName']
df.head()

In [ ]:
browser = Browser('chrome', headless = True)

In [ ]:
headlines = []

In [ ]:
browser.visit('https://www.reuters.com/news/archive/icehockey-nhl?view=page&page=1&pageSize=10')

In [ ]:
soup = BeautifulSoup(browser.html, 'html.parser')

In [ ]:
hls = soup.find_all(class_ = "story-title")
hls[3].text.replace("\n", "").replace('\t', "")

In [ ]:

for i in range(len(hls)):
    headlines.append(hls[i].text.replace("\n", "").replace('\t', ""))

In [ ]:
browser.click_link_by_partial_text('Earlier')

In [ ]:
for i in tqdm.tqdm(range(1000)):
    soup = BeautifulSoup(browser.html, 'html.parser')
    hls = soup.find_all(class_ = "story-title")
    for i in range(len(hls)):
        headlines.append(hls[i].text.replace("\n", "").replace('\t', ""))
    try:
        browser.click_link_by_partial_text('Earlier')
    except Exception as e:
        print(e)
        break

In [ ]:
len(headlines)

In [ ]:
# with open("headlines.txt", "w") as f:
#     for s in headlines:
#         f.write(str(s) +"\n")

In [ ]:
headlines_df = pd.DataFrame(data=temp)
headlines_df.to_csv('headlines.csv')

In [ ]:
temp = []

In [ ]:
with open("headlines.txt", "r") as f:
    for line in f:
        temp.append(line.strip())

In [ ]:
temp.pop(383)

In [ ]:
temp[383]

In [ ]:
temp.pop(383)

In [ ]:
df

In [ ]:
df['headlines'] = '0'

In [ ]:
headlines_list = temp

In [ ]:
player_count = 0
for i in tqdm.tqdm(range(len(df))):
    last_name = df.iloc[i, 2]
    for j in range(len(headlines_list)):
        if last_name in headlines_list[j]:
            player_count += 1
    df.iat[i,9] = int(df.iat[0, 9]) + player_count
    player_count = 0

In [ ]:
df.iat[0, 9] = int(df.iat[0, 9]) + 1

In [ ]:
df.to_csv('players_headlines.csv')

In [ ]:
if 'Williams' in 'Williams, Hurricanes top Islanders for 3-0 series lead':
    player_count += 1

In [ ]:
player_count

In [ ]:
headlines_list

In [7]:
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        conn.close()

In [8]:
conn = create_connection("nhl_info.db")

2.6.0

In [10]:
database_path = "nhl_info.db"
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()
# Base = automap_base()
# Base.classes.keys()

In [ ]:
engine.execute(
'CREATE TABLE players (
    player_id = Column(Integer, primary_key=True)
    firstName = Column(String(255))
    lastName = Column(String(255))
    nationality = Column(String(255))
    birthCity = Column(String(255))
    primaryPosition = Column(String(255))
    birthDate = Column(String(255))
    link = Column(String(255))
    name = Column(String(255))

)
'')

In [ ]:
class Players(Base):
    __tablename__ = 'players'
    player_id = Column(Integer, primary_key=True)
    firstName = Column(String(255))
    lastName = Column(String(255))
    nationality = Column(String(255))
    birthCity = Column(String(255))
    primaryPosition = Column(String(255))
    birthDate = Column(String(255))
    link = Column(String(255))
    name = Column(String(255))

class Headlines(Base):
    __tablename__ = 'headlines'
    id = Column(Integer, primary_key=True)
    headline = Column(String(3948))

In [ ]:
Players = Base.classes.players
Headlines = Base.classes.headlines

In [17]:
# get data back
players = pd.read_csv('player_info.csv')
headlines = pd.read_csv('headlines.csv')
players_headlines = pd.read_csv('players_headlines.csv')

In [12]:
type(players)

pandas.core.frame.DataFrame

In [13]:
print(len(players))

2386

In [18]:
players_headlines.head()

,Unnamed: 0,player_id,firstName,lastName,nationality,birthCity,primaryPosition,birthDate,link,name,headlines
0,0,8467412,Alexei,Ponikarovsky,UKR,Kiev,LW,1980-04-09,test,Alexei Ponikarovsky,2
1,1,8468501,Anton,Volchenkov,RUS,Moscow,D,1982-02-25,/api/v1/people/8468501,Anton Volchenkov,2
2,2,8459670,Kimmo,Timonen,FIN,Kuopio,D,1975-03-18,/api/v1/people/8459670,Kimmo Timonen,2
3,3,8471233,Travis,Zajac,CAN,Winnipeg,C,1985-05-13,/api/v1/people/8471233,Travis Zajac,10
4,4,8455710,Martin,Brodeur,CAN,Montreal,G,1972-05-06,/api/v1/people/8455710,Martin Brodeur,4

In [16]:
headlines.head()

   Unnamed: 0                                                  0
0           0        Women won't play pro hockey without changes
1           1                 Stars double up Blues, even series
2           2  Williams, Hurricanes top Islanders for 3-0 ser...
3           3        Bruins' Marchand shows no remorse for punch
4           4  Couture's hat trick gives Sharks series edge o...

In [22]:
players.to_sql('players',conn)
headlines.to_sql('headlines',conn)
players_headlines.to_sql('players_headlines',conn)

ValueError: Table 'players_headlines' already exists.

In [21]:
test = engine.execute('SELECT * FROM players_headlines where firstName = "Daniel"').fetchall()
test

[(9, 9, 8464975, 'Daniel', 'Briere', 'CAN', 'Gatineau', 'C', '1977-10-06', '/api/v1/people/8464975', 'Daniel Briere', 2),
 (119, 119, 8470230, 'Daniel', 'Paille', 'CAN', 'Welland', 'LW', '1984-04-15', '/api/v1/people/8470230', 'Daniel Paille', 2),
 (264, 264, 8466149, 'Daniel', 'Cleary', 'CAN', 'Carbonear', 'RW', '1978-12-18', '/api/v1/people/8466149', 'Daniel Cleary', 2),
 (301, 301, 8467875, 'Daniel', 'Sedin', 'SWE', 'Ornskoldsvik', 'LW', '1980-09-26', '/api/v1/people/8467875', 'Daniel Sedin', 8),
 (348, 348, 8470666, 'Daniel', 'Carcillo', 'CAN', 'King City', 'LW', '1985-01-28', '/api/v1/people/8470666', 'Daniel Carcillo', 2),
 (439, 439, 8460621, 'Daniel', 'Alfredsson', 'SWE', 'Gothenburg', 'RW', '1972-12-11', '/api/v1/people/8460621', 'Daniel Alfredsson', 2),
 (574, 574, 8471476, 'Daniel', 'Winnik', 'CAN', 'Toronto', 'LW', '1985-03-06', '/api/v1/people/8471476', 'Daniel Winnik', 2),
 (1132, 1132, 8477901, 'Daniel', 'Carr', 'CAN', 'Sherwood Park', 'LW', '1991-11-01', '/api/v1/people/8477901', 'Daniel Carr', 2),
 (1267, 1267, 8478466, 'Daniel', 'Sprong', 'NLD', 'Amsterdam', 'RW', '1997-03-17', '/api/v1/people/8478466', 'Daniel Sprong', 4),
 (1728, 1728, 8476835, 'Daniel', 'Bang', 'SWE', 'Stockholm', 'LW', '1987-04-19', '/api/v1/people/8476835', 'Daniel Bang', 2),
 (1746, 1746, 8471433, 'Daniel', 'Taylor', 'GBR', 'Plymouth', 'G', '1986-04-28', '/api/v1/people/8471433', 'Daniel Taylor', 4),
 (1937, 1937, 8476401, 'Daniel', 'Catenacci', 'CAN', 'Richmond Hill', 'C', '1993-03-09', '/api/v1/people/8476401', 'Daniel Catenacci', 2),
 (1982, 1982, 8480771, 'Daniel', 'Brickley', 'USA', 'SANDY', 'D', '1995-03-30', '/api/v1/people/8480771', 'Daniel Brickley', 4)]

In [14]:
# Create a Specific Instance of the Players and Headlines classes
# ----------------------------------
# dog = Dog(name="Fido", color='Brown', age=4)
# cat = Cat(name="Whiskers", color="Gray", age=7)
for player in players.rows:
    print(player)

AttributeError: 'DataFrame' object has no attribute 'rows'

In [ ]:
for headline in headlines:
    print(headline)

In [ ]:
# Create Database Connection
# ----------------------------------
conn = engine.connect()

In [ ]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
Base.metadata.create_all(engine)

In [ ]:
# Create a Session Object to Connect to DB
# ----------------------------------
from sqlalchemy.orm import Session
session = Session(bind=engine)